diffusers==0.37.1
googleapis-common-protos==1.73.1
jax==0.5.3
tqdm-loggable==0.4.1
oauthlib==3.3.1
requests==2.33.0
typing-inspection==0.4.2
pydantic==2.12.5
nvidia-cuda-nvrtc-cu12==12.6.77
zarr==3.1.5
openpi-client==0.1.0
opencv-python==4.11.0.86
optax==0.2.3
Flask==3.1.3
docstring_parser==0.17.0
nvidia-cuda-nvcc-cu12==12.9.86
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
dm-tree==0.1.9
wandb==0.25.1
transformers==4.53.2
google-resumable-media==2.8.0
cloudpickle==3.1.2
omegaconf==2.3.0
scipy==1.17.1
gym-aloha==0.1.3
tokenizers==0.21.4
cmake==4.3.0
annotated-types==0.7.0
tyro==1.0.11
pyarrow==23.0.1
h11==0.16.0
fsspec==2026.2.0
pyasn1==0.6.3
setuptools==82.0.1
openpi==0.1.0
huggingface_hub==0.36.2
orderly-set==5.5.0
evdev==1.9.3
importlib_metadata==9.0.0
wadler_lindig==0.1.7
av==17.0.0
xxhash==3.6.0
psutil==7.2.2
triton==3.3.1
python-xlib==0.33
proto-plus==1.27.2
dm-env==1.6
urllib3==2.6.3
labmaze==1.0.6
flatbuffers==25.12.19
hf-xet==1.4.2
certifi==2026.2.25
torchvision==0.22.1
wcwidth==0.6.0
opencv-python-headless==4.11.0.86
decorator==5.2.1
jax-cuda12-plugin==0.5.3
cryptography==46.0.6
Werkzeug==3.1.7
humanize==4.15.0
pydantic_core==2.41.5
einops==0.8.2
aiosignal==1.4.0
attrs==26.1.0
nvidia-cufft-cu12==11.3.0.4
gcsfs==2026.2.0
toolz==1.1.0
websockets==16.0
nvidia-curand-cu12==10.3.7.77
google-cloud-core==2.5.0
typing-inspect==0.9.0
idna==3.11
pytest==9.0.2
imageio-ffmpeg==0.6.0
nvidia-cusolver-cu12==11.7.1.2
MarkupSafe==3.0.3
sympy==1.14.0
pyasn1_modules==0.4.2
httpx==0.28.1
pymunk==7.2.0
google-cloud-storage-control==1.11.0
torchcodec==0.11.0
numpydantic==1.8.0
dill==0.4.1
grpc-google-iam-v1==0.14.3
zipp==3.23.0
pluggy==1.6.0
mergedeep==1.3.4
google-cloud-storage==3.10.1
charset-normalizer==3.4.6
packaging==26.0
nvidia-cusparse-cu12==12.5.4.2
gdown==5.2.1
protobuf==6.33.6
h5py==3.16.0
pyyaml-include==1.4.1
PySocks==1.7.1
pycparser==3.0
tensorstore==0.1.74
python-dateutil==2.9.0.post0
yarl==1.23.0
six==1.17.0
pyparsing==3.3.2
nvidia-nvtx-cu12==12.6.77
gitdb==4.0.12
tqdm==4.67.3
Pygments==2.20.0
nvidia-cufile-cu12==1.11.1.6
markdown-it-py==4.0.0
blinker==1.9.0
donfig==0.8.1.post1
google-crc32c==1.8.0
polars==1.39.3
google-auth-oauthlib==1.3.0
numba==0.64.0
lerobot==0.1.0
cffi==2.0.0
beautifulsoup4==4.14.3
gymnasium==0.29.1
smmap==5.0.3
mpmath==1.3.0
llvmlite==0.46.0
PyYAML==6.0.3
Farama-Notifications==0.0.4
GitPython==3.1.46
chex==0.1.86
pandas==3.0.1
itsdangerous==2.2.0
rich==14.3.3
multidict==6.7.1
jaxtyping==0.2.36
equinox==0.13.6
dm_control==1.0.38
PyOpenGL==3.1.10
prompt_toolkit==3.0.52
anyio==4.13.0
google-auth==2.49.1
regex==2026.3.32
numcodecs==0.16.5
mdurl==0.1.2
nvidia-cusparselt-cu12==0.6.3
sentry-sdk==2.56.0
wrapt==2.1.2
nvidia-nccl-cu12==2.26.2
augmax==0.4.1
rerun-sdk==0.23.1
platformdirs==4.9.4
grpcio-status==1.80.0
beartype==0.19.0
toml==0.10.2
soupsieve==2.8.3
absl-py==2.4.0
glfw==2.10.0
nvidia-cuda-runtime-cu12==12.6.77
multiprocess==0.70.19
hf_transfer==0.1.9
httpcore==1.0.9
networkx==3.6.1
aiohappyeyeballs==2.6.1
nvidia-cuda-cupti-cu12==12.6.80
typing_extensions==4.15.0
jsonlines==4.0.0
google-api-core==2.30.0
nvidia-nvjitlink-cu12==12.6.85
propcache==0.4.1
opt_einsum==3.4.0
safetensors==0.7.0
pillow==12.1.1
inquirerpy==0.3.4
draccus==0.10.0
iniconfig==2.3.0
polars-runtime-32==1.39.3
termcolor==3.3.0
ml-dtypes==0.4.1
sentencepiece==0.2.1
pyzmq==27.1.0
nvidia-cudnn-cu12==9.5.1.17
nest-asyncio==1.6.0
pfzy==0.3.4
ml_collections==1.0.0
jaxlib==0.5.3
mujoco==3.6.0
mypy_extensions==1.1.0
simplejson==3.20.2
svgwrite==1.4.3
filelock==3.25.2
Jinja2==3.1.6
orbax-checkpoint==0.11.13
lxml==6.0.2
deepdiff==9.0.0
typeguard==4.5.1
ImageIO==2.37.3
etils==1.14.0
antlr4-python3-runtime==4.9.3
grpcio==1.80.0
flax==0.10.2
msgpack==1.1.2
pynput==1.8.1
Tree==0.2.4
click==8.3.1
datasets==4.8.4
torch==2.7.1
treescope==0.1.10
requests-oauthlib==2.0.0
aiohttp==3.13.4
jax-cuda12-pjrt==0.5.3
frozenlist==1.8.0
